<!DOCTYPE html>
<html>
    <head>
        <title>Recuperacion de Contrase&ntilde;a | Gamificacion </title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap);
            *{
                font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body style="margin: 30px 30px 30px 30px;">
        <div align="center">
            <h1>Recuperacion de contrase&ntilde;a </h1>
        </div>
        <div align="justify">
            Hola <b>$user:</b>
            <p>
                Se ha realizado una recuperacion de contraseña, las credenciales de acceso han cambiado:
                <br><br>
                <b>Usuario:</b> $email
                <b>Nueva Contrase&ntilde;a:</b> $password
                <b>Nueva Palabra Clave:</b> $palabraClave

                <br><br>
                Si no ha realizado el cambio, notifica a tu profesor y realiza el cambio de contraseña.
            </p>
        </div>
    </body>
</html>